# Analysis of Titanic Data

In [3]:
import csv
import numpy as np

## Importation of Data

Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,a

In [1]:
label = 'Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,'
count = 0
for c in label : 
    if c == ',':
        count +=1
print(count)

11

In [17]:

titanic = []
with open('train.csv', newline='') as csvfile: 
    reader = csv.DictReader(csvfile) #Premi√®re ligne avec le noms des variables 
    for i, row in enumerate(reader,start=1) :  # 1 pour ne pas prendre le header en compte 
        survived = int(row['Survived']) # 0 = No, 1 = Yes
        pclass = float(row['Pclass']) #	1 = 1st, 2 = 2nd, 3 = 3rd
        sex = str(row['Sex']) if row['Sex'] != '' else np.nan
        age = float(row['Age']) if row['Age'] != '' else np.nan
        sibsp = int(row['SibSp']) #Siblings and spouses 
        parch = str(row['Parch']) # Parents and children 
        fare = float(row['Fare']) if row['Fare'] != '' else np.nan
        embarked = row['Embarked']if row['Embarked'] != '' else np.nan  # C = Cherbourg, Q = Queenstown, S = Southampton
        titanic.append([survived,pclass,sex,age,sibsp,parch,fare,embarked]) 

    titanic = np.array(titanic)
    print(titanic.shape)

print(titanic)
np.sum(titanic == np.nan)

(891, 8)
[['0' '3.0' 'male' ... '0' '7.25' 'S']
 ['1' '1.0' 'female' ... '0' '71.2833' 'C']
 ['1' '3.0' 'female' ... '0' '7.925' 'S']
 ...
 ['0' '3.0' 'female' ... '2' '23.45' 'S']
 ['1' '1.0' 'male' ... '0' '30.0' 'C']
 ['0' '3.0' 'male' ... '0' '7.75' 'Q']]

np.int64(0)